<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GooglePlacesApiKey" value="AIzaSyA_BQNLGn2M8Q5C0UzQE8zrD7waelM7Zk8" />
    <add key="GoogleDirectionsApiKey" value="AIzaSyByXLeuYjJi6so-i2Jke9KF7HkMpaJYtU0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>