@{
    ViewBag.Title = "Travelers";
}


<div style=" display: table;
  width: 100%;      color: #322800; margin: 10px;">
        <div style="display: table-cell;
  text-align: center;
  vertical-align: middle; margin: 100px">
            <h2>Welcome to TravelArs</h2>
            Please, go <a href="http://travelars.azurewebsites.net/swagger/ui/index">here</a> to see our API interface.        </div>
</div>